* {
    margin: 0;
    padding: 0;
}

.hide {
    background: red;
}

.show {
    background: greenyellow;
}

.numberTiles {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.container {
    max-width: 350px;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    /* grid-gap: 8px; */
}